In [1]:
import os

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

from wrangle import get_beer

In [2]:
df = get_beer()

In [3]:
df.head()

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986
1,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213
2,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215
3,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969
4,1075,Caldera Brewing Company,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883

In [5]:
df.beer_style.nunique()

104

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1586614 entries, 0 to 1586613
Data columns (total 13 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   brewery_id          1586614 non-null  int64
 1   brewery_name        1586599 non-null  object
 2   review_time         1586614 non-null  int64
 3   review_overall      1586614 non-null  float64
 4   review_aroma        1586614 non-null  float64
 5   review_appearance   1586614 non-null  float64
 6   review_profilename  1586266 non-null  object
 7   beer_style          1586614 non-null  object
 8   review_palate       1586614 non-null  float64
 9   review_taste        1586614 non-null  float64
 10  beer_name           1586614 non-null  object
 11  beer_abv            1518829 non-null  float64
 12  beer_beerid         1586614 non-null  int64
dtypes: float64(6), int64(3), object(4)
memory usage: 169.5+ MB

In [7]:
df.describe()

,brewery_id,review_time,review_overall,review_aroma,review_appearance,review_palate,review_taste,beer_abv,beer_beerid
count,1.586614e+06,1.586614e+06,1.586614e+06,1.586614e+06,1.586614e+06,1.586614e+06,1.586614e+06,1.518829e+06,1.586614e+06
mean,3.130099e+03,1.224089e+09,3.815581e+00,3.735636e+00,3.841642e+00,3.743701e+00,3.792860e+00,7.042387e+00,2.171279e+04
std,5.578104e+03,7.654427e+07,7.206219e-01,6.976167e-01,6.160928e-01,6.822184e-01,7.319696e-01,2.322526e+00,2.181834e+04
min,1.000000e+00,8.406720e+08,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e-02,3.000000e+00
25%,1.430000e+02,1.173224e+09,3.500000e+00,3.500000e+00,3.500000e+00,3.500000e+00,3.500000e+00,5.200000e+00,1.717000e+03
50%,4.290000e+02,1.239203e+09,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,6.500000e+00,1.390600e+04
75%,2.372000e+03,1.288568e+09,4.500000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.500000e+00,8.500000e+00,3.944100e+04
max,2.800300e+04,1.326285e+09,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.770000e+01,7.731700e+04

In [8]:
df.beer_abv.isnull().sum()

67785

In [12]:
# dropped columns that contained nulls and were not likely useful

df = df.drop(columns=['review_profilename', 'brewery_name'], axis=1)

In [13]:
df.head()

,brewery_id,review_time,review_overall,review_aroma,review_appearance,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,10325,1234817823,1.5,2.0,2.5,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986
1,10325,1235915097,3.0,2.5,3.0,English Strong Ale,3.0,3.0,Red Moon,6.2,48213
2,10325,1235916604,3.0,2.5,3.0,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215
3,10325,1234725145,3.0,3.0,3.5,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969
4,1075,1293735206,4.0,4.5,4.0,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883

In [15]:
df.beer_style.unique()

array(['Hefeweizen', 'English Strong Ale', 'Foreign / Export Stout',
       'German Pilsener', 'American Double / Imperial IPA',
       'Herbed / Spiced Beer', 'Light Lager', 'Oatmeal Stout',
       'American Pale Lager', 'Rauchbier', 'American Pale Ale (APA)',
       'American Porter', 'Belgian Strong Dark Ale', 'American IPA',
       'American Stout', 'Russian Imperial Stout',
       'American Amber / Red Ale', 'American Strong Ale',
       'Märzen / Oktoberfest', 'American Adjunct Lager',
       'American Blonde Ale', 'Euro Pale Lager', 'English Brown Ale',
       'Scotch Ale / Wee Heavy', 'Fruit / Vegetable Beer',
       'American Double / Imperial Stout', 'Belgian Pale Ale',
       'English Bitter', 'English Porter', 'Irish Dry Stout',
       'American Barleywine', 'Belgian Strong Pale Ale', 'Doppelbock',
       'Maibock / Helles Bock', 'Pumpkin Ale',
       'Dortmunder / Export Lager', 'Euro Strong Lager',
       'Euro Dark Lager', 'Low Alcohol Beer', 'Weizenbock',
       'Extra Special / Strong Bitter (ESB)', 'Bock',
       'English India Pale Ale (IPA)', 'Altbier', 'Kölsch',
       'Munich Dunkel Lager', 'Rye Beer', 'American Pale Wheat Ale',
       'Milk / Sweet Stout', 'Schwarzbier', 'Vienna Lager',
       'American Amber / Red Lager', 'Scottish Ale', 'Witbier',
       'American Black Ale', 'Saison / Farmhouse Ale',
       'English Barleywine', 'English Dark Mild Ale',
       'California Common / Steam Beer', 'Czech Pilsener',
       'English Pale Ale', 'Belgian IPA', 'Tripel', 'Flanders Oud Bruin',
       'American Brown Ale', 'Winter Warmer', 'Smoked Beer', 'Dubbel',
       'Flanders Red Ale', 'Dunkelweizen', 'Roggenbier',
       'Keller Bier / Zwickel Bier', 'Belgian Dark Ale', 'Bière de Garde',
       'Japanese Rice Lager', 'Black & Tan', 'Irish Red Ale',
       'Chile Beer', 'English Stout', 'Cream Ale', 'American Wild Ale',
       'American Double / Imperial Pilsner',
       'Scottish Gruit / Ancient Herbed Ale', 'Wheatwine',
       'American Dark Wheat Ale', 'American Malt Liquor', 'Baltic Porter',
       'Munich Helles Lager', 'Kristalweizen', 'English Pale Mild Ale',
       'Lambic - Fruit', 'Old Ale', 'Quadrupel (Quad)', 'Braggot',
       'Lambic - Unblended', 'Eisbock', 'Berliner Weissbier', 'Kvass',
       'Faro', 'Gueuze', 'Gose', 'Happoshu', 'Sahti',
       'Bière de Champagne / Bière Brut'], dtype=object)

In [14]:
def is_lager(row):
    if row['beer_style'] == "Hefeweizen":
        val = 0
    elif row['beer_style']  == 'English Strong Ale':
        val = 0
    elif row['beer_style']  == 'Foreign / Export Stout':
        val = 0
    elif row['beer_style']  == 'American Double / Imperial IPA':
        val = 0
    elif row['beer_style']  == 'Herbed / Spiced Beer':
        val = 0
    elif row['beer_style']  == 'Oatmeal Stout':
        val = 0
    elif row['beer_style']  == 'American Pale Ale (APA)':
        val = 0
    elif row['beer_style']  == 'American Porter':
        val = 0
    elif row['beer_style']  == 'Belgian Strong Dark Ale':
        val = 0
    elif row['beer_style']  == 'American IPA':
        val = 0
    elif row['beer_style']  == 'American Stout':
        val = 0
    elif row['beer_style']  == 'Russian Imperial Stout':
        val = 0
    elif row['beer_style']  == 'American Blonde Ale':
        val = 0
    elif row['beer_style']  == 'English Brown Ale':
        val = 0
    elif row['beer_style']  == 'Scotch Ale / Wee Heavy':
        val = 0
    elif row['beer_style']  == 'Fruit / Vegetable Beer':
        val = 0
    elif row['beer_style']  == 'American Double / Imperial Stout':
        val = 0
    elif row['beer_style']  == 'Belgian Pale Ale':
        val = 0
    elif row['beer_style']  == 'English Bitter':
        val = 0
    elif row['beer_style']  == 'English Porter':
        val = 0
    elif row['beer_style']  == 'American Barleywine':
        val = 0
    elif row['beer_style']  == 'Belgian Strong Pale Ale':
        val = 0
    elif row['beer_style']  == 'Pumpkin Ale':
        val = 0
    elif row['beer_style']  == 'Extra Special / Strong Bitter (ESB)':
        val = 0
    elif row['beer_style']  == 'English India Pale Ale (IPA)':
        val = 0
    elif row['beer_style']  == 'Kölsch':
        val = 0
    elif row['beer_style']  == 'Rye Beer':
        val = 0
    elif row['beer_style']  == 'American Pale Wheat Ale':
        val = 0
    elif row['beer_style']  == 'Milk / Sweet Stout':
        val = 0
    elif row['beer_style']  == 'Scottish Ale':
        val = 0
    elif row['beer_style']  == 'Witbier':
        val = 0
    elif row['beer_style']  == 'American Black Ale':
        val = 0
    elif row['beer_style']  == 'Saison / Farmhouse Ale':
        val = 0
    elif row['beer_style']  == 'Irish Dry Stout':
        val = 0
    elif row['beer_style']  == 'English Barleywine':
        val = 0
    elif row['beer_style']  == 'English Dark Mild Ale':
        val = 0
    elif row['beer_style']  == 'English Pale Ale':
        val = 0
    elif row['beer_style']  == 'Belgian IPA':
        val = 0
    elif row['beer_style']  == 'Tripel':
        val = 0
    elif row['beer_style']  == 'Flanders Oud Bruin':
        val = 0
    elif row['beer_style']  == 'American Brown Ale':
        val = 0
    elif row['beer_style']  == 'Winter Warmer':
        val = 0
    elif row['beer_style']  == 'Smoked Beer':
        val = 0
    elif row['beer_style']  == 'Dubbel':
        val = 0
    elif row['beer_style']  == 'Flanders Red Ale':
        val = 0
    elif row['beer_style']  == 'Dunkelweizen':
        val = 0
    elif row['beer_style']  == 'Belgian Dark Ale':
        val = 0
    elif row['beer_style']  == 'Bière de Garde':
        val = 0
    elif row['beer_style']  == 'Irish Red Ale':
        val = 0
    elif row['beer_style']  == 'English Stout':
        val = 0
    elif row['beer_style']  == 'Cream Ale':
        val = 0
    else:
        val = 1
    return val

df['is_lager'] = df.apply(my_func, axis=1)
df.head()

NameError: name 'my_func' is not defined